Use the function print() to display the result of the expression, or the contents of a variable inside the paranthesis.

In [1]:
message = "Hello World!"
print(message)

test = ""

Hello World!

In [2]:
?print

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [3]:
a_bool = False
an_integer = 4
floating_point = 75.3
a_string = "variables are snake_case"

In [4]:
print(2 + 2)

4

In [67]:
print(33.3333 + 66.6666)
print(33.3333 + 66.66666)
print(99.99996)

99.9999
99.99995999999999
99.99996

In [6]:
print("this is" + 'a string')

this isa string

In [7]:
a = 1
a += 1
print(a)
a -= 1
print(a)

2
1

Arithmatic Operators

+ addition for numbers, concatenation for strings
+= add the right hand side to the value already stored in the left hand side
- subraction
* multiplication, repeating for strings
@ reserved for matrix multiplication -- doesnt work on built in types
/ division -- will always return a float
// floor division -- will return an integer if only integers are used, rounded down
% modulo -- returns the integer remainder of division between integers
** exponetiation


if either member of an expression is a float the other member will be converted to a float before the operation

In [8]:
print(an_integer + floating_point + a_string)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
print(an_integer + floating_point)

79.3

In [9]:
print(a_string + an_integer)

TypeError: can only concatenate str (not "int") to str

In [10]:
out = type(an_integer)

In [11]:
print(out)

<class 'int'>

In [12]:
print(type(out))

<class 'type'>

In [13]:
print(type(floating_point), type(a_string), type(True))

<class 'float'> <class 'str'> <class 'bool'>

In [14]:
print(an_integer, floating_point, a_string)

4 75.3 variables are snake_case

In [15]:
print(f"{a_string} {floating_point}% of the time, {an_integer}% of the time")

variables are snake_case 75.3% of the time, 4% of the time

In [16]:
print("{0} {1}% of the time, {2}% of the time".format(a_string, floating_point, an_integer))

variables are snake_case 75.3% of the time, 4% of the time

In [17]:
#create your variables here


assert your_bool
assert your_int is int
assert your_float is float
assert your_string is str

NameError: name 'your_bool' is not defined

Comparison operators

Evaluate to either True or False

== Equals                    eq
>  Greater than              gt
>= Greater than or equal to  ge
<  Less than                 lt
<= Less than or equal to     le
!= Not equal to              ne

In [11]:
print(3 < 4)
print(3 <= 5)
print(3 == 3)
print(3 != 5)
print(5 <= 5)
print(33.3333 + 66.66666 == 99.99996, u"\U0001F62C")

True
True
True
True
True
False ðŸ˜¬

In [19]:
print("bob" > "abe")
print("bob" < "ron")
print("bob" < "arron")
print("rob" < "robert")
print("Bob" != "bob")

True
True
False
True
True

Comparison Keywords

and -- returns True if both sides are True
or  -- returns True if either or both sides are True
not -- reverses the following True or False

In [64]:
print(True and False)
print(True or False)
print(False and False)
print(False or False)
print(not False)

False
True
False
False
True

In [65]:

assert (not True and True) == 
assert (not True or True) == 
assert not (True or True) == 
assert not 1 == 1 ==

Identity Comparison

is     -- returns True if the left and right objects are literally the same object
is not -- returns True if the left and right objects are seperate objects

Membership Comparison

in     -- returns True if left hand is a member of right hand collection
not in -- returns True if left hand is not a member of right hand collection

In [22]:
mt_list = []

In [23]:
print(mt_list is [])
print(mt_list is mt_list)
print(mt_list == [])

False
True
True

In [24]:
print("bob" in mt_list)
print("fred" not in mt_list)

False
True

In [25]:
#Activity

assert (type(1) == type(1.0)) == 
assert (1 != 1.0 and 2 < 20) == 
assert ("bob" < "alfred" or "bob" >= "ronald") == 
assert ("bob" == 'bob') == 
assert ("rob" not in "robert") ==

SyntaxError: invalid syntax (1709370079.py, line 3)

In [26]:

list_type = type(mt_list)
list_length = len(mt_list)
print(f"Our list has type: {list_type} and has a lenght of {list_length}")

Our list has type: <class 'list'> and has a lenght of 0

In [27]:
dir(mt_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [28]:
?list.append

Signature: list.append(self, object, /)
Docstring: Append object to the end of the list.
Type:      method_descriptor

In [29]:
?list.extend

Signature: list.extend(self, iterable, /)
Docstring: Extend list by appending elements from the iterable.
Type:      method_descriptor

In [30]:
new_list = ["bob", 42]
mt_list.append(floating_point)
print(new_list, "\n", mt_list)

['bob', 42]
 [75.3]

In [31]:
print(len(new_list), "\n", len(mt_list))

2
 1

In [32]:
mt_list.extend(new_list)

In [33]:
print(f"The list contents are: {mt_list}, with length: {len(mt_list)}")

The list contents are: [75.3, 'bob', 42], with length: 3

In [34]:
first_item = mt_list[0]
third_item = mt_list[2]
last_item = mt_list[-1]
third_from_last = mt_list[-3]

print(first_item, third_item, last_item, third_from_last, sep= "\n")

75.3
42
42
75.3

In [35]:
fourth_item = mt_list[3]

IndexError: list index out of range

In [36]:
mt_list[2] = 25
print(mt_list)

[75.3, 'bob', 25]

In [37]:
mt_list = [75.3, "bob", 42]

In [38]:
assert mt_list[-] == "bob"

#using one command make it so that mt_list has a length of 6

assert len(mt_list) == 6

SyntaxError: invalid syntax (2597208962.py, line 1)

In [39]:
?list.pop

Signature: list.pop(self, index=-1, /)
Docstring:
Remove and return item at index (default last).

Raises IndexError if list is empty or index is out of range.
Type:      method_descriptor

In [40]:
last_val = mt_list.pop()
print(last_val, "\n", mt_list)

42
 [75.3, 'bob']

In [41]:
days = [
    "Mon",
    "Tues",
    "Wed",
    "Thurs",
    "Fri",
    "Sat",
    "Sun"
]

In [42]:
days_that_end_in_day = days[:]
weekdays = days[:-2]
weekend = days[5:]

print(days_that_end_in_day, weekdays, weekend, sep= "\n")

['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
['Mon', 'Tues', 'Wed', 'Thurs', 'Fri']
['Sat', 'Sun']

In [43]:
list_of_lists = [mt_list, days]
print(list_of_lists)

[[75.3, 'bob'], ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']]

In [44]:
print(list_of_lists[0][1])

bob

In [45]:
a_tuple = ("Bob", 24, 37.0)
a_dict = {"name": "Bob", "age": 24, "weight": 37.0}

print(a_tuple[0])
print(a_dict["name"])

Bob
Bob

In [46]:
?tuple

Init signature: tuple(iterable=(), /)
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.
Type:           type
Subclasses:     int_info, float_info, UnraisableHookArgs, hash_info, version_info, flags, getwindowsversion, thread_info, asyncgen_hooks, _ExceptHookArgs, ...

In [47]:
a_tuple[0] = "fred"

TypeError: 'tuple' object does not support item assignment

In [48]:
?dict

Init signature: dict(self, /, *args, **kwargs)
Docstring:
dict() -> new empty dictionary
dict(mapping) -> new dictionary initialized from a mapping object's
    (key, value) pairs
dict(iterable) -> new dictionary initialized as if via:
    d = {}
    for k, v in iterable:
        d[k] = v
dict(**kwargs) -> new dictionary initialized with the name=value pairs
    in the keyword argument list.  For example:  dict(one=1, two=2)
Type:           type
Subclasses:     OrderedDict, defaultdict, Counter, _EnumDict, _Quoter, Bunch, ObjectDict, StgDict, ConvertingDict, Config, ...

In [49]:
a_dict["home"] = "Wilmington"
a_dict["name"] = "Fred"

In [50]:
print(a_dict)

{'name': 'Fred', 'age': 24, 'weight': 37.0, 'home': 'Wilmington'}

Looping

for {index} in {iterable}:
    do things

In [51]:
?range

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [52]:
for i in range(5):
    print(i)

0
1
2
3
4

In [53]:
odds = range(1, 10, 2)
for i in odds:
    a = "test"
    print(i)

print(i)
print(a)

1
3
5
7
9
9
test

In [54]:
for day in days:
    day += "day"
    print(day)

print(days)

Monday
Tuesday
Wedday
Thursday
Friday
Satday
Sunday
['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']

In [55]:
for i in range(len(days)):
    days[i] += "day"
    print(days[i])

print(days)

Monday
Tuesday
Wedday
Thursday
Friday
Satday
Sunday
['Monday', 'Tuesday', 'Wedday', 'Thursday', 'Friday', 'Satday', 'Sunday']

In [13]:
days = [
    "Mon",
    "Tues",
    "Wed",
    "Thurs",
    "Fri",
    "Sat",
    "Sun"
]

In [57]:
new_days = [ day + "day" for day in days]
print(new_days)

['Monday', 'Tuesday', 'Wedday', 'Thursday', 'Friday', 'Satday', 'Sunday']

Conditionals

if {True}:
    do stuff
elif {True}:
    do other stuff
else:
    do stuff if both earlier statments are false

In [58]:
for day in days:
    if day == "Wed":
        day = "Wednesday"
    elif day == "Sat":
        day = "Saturday"
    else:
        day += "day"
    
    print(day)

print(days)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']

In [14]:
short_days = [ day[:2] if day in ["Tues", "Thurs", "Sat", "Sun"] else day[0] for day in days]

In [60]:
print(short_days)

['M', 'Tu', 'W', 'Th', 'F', 'Sa', 'Su']

In [61]:
?zip

Init signature: zip(self, /, *args, **kwargs)
Docstring:
zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.
Type:           type
Subclasses:

In [15]:
menu = dict(zip(short_days, [
    " white ", 
    " buffalo_chicken ",
    " pepperoni ",
    " cheeze(tm) ",
    " pinapple ",
    " supreme ",
    " chipotle_chicken "
    ]))

print(menu)

{'M': ' white ', 'Tu': ' buffalo_chicken ', 'W': ' pepperoni ', 'Th': ' cheeze(tm) ', 'F': ' pinapple ', 'Sa': ' supreme ', 'Su': ' chipotle_chicken '}

In [63]:
for day, food in menu.items():
    print(day, food.title().replace("_", " "))

M  White
Tu  Buffalo Chicken
W  Pepperoni
Th  Cheeze(Tm)
F  Pinapple
Sa  Supreme
Su  Chipotle Chicken

In [21]:
#replace underscores with spaces
#strip extra whitespace
#use real cheese
#replace pinapple (yuck) pizza with another kind of pizza
#use title case for the names of the pizzas
#print the full name of the day of the week and the pizza that will be served on that day

In [20]:
ld_menu = dict(zip(
    [ day + "day" if day not in ["Wed", "Sat"] else "Wednesday" if day == "Wed" else "Saturday" for day in days ],
    menu.values()
))

print(ld_menu)

for day, food in ld_menu.items():
    if "cheeze" in food:
        food = "cheese"
    elif "pinapple" in food:
        food = "hawaiian"

    food = food.strip().replace("_", " ").title()

    print(f"The Pizza on {day} will be {food}")

{'Monday': ' white ', 'Tuesday': ' buffalo_chicken ', 'Wednesday': ' pepperoni ', 'Thursday': ' cheeze(tm) ', 'Friday': ' pinapple ', 'Saturday': ' supreme ', 'Sunday': ' chipotle_chicken '}
The Pizza on Monday will be White
The Pizza on Tuesday will be Buffalo Chicken
The Pizza on Wednesday will be Pepperoni
The Pizza on Thursday will be Cheese
The Pizza on Friday will be Hawaiian
The Pizza on Saturday will be Supreme
The Pizza on Sunday will be Chipotle Chicken

In [228]:
?str.translate

Signature: str.translate(self, table, /)
Docstring:
Replace each character in the string using the given translation table.

  table
    Translation table, which must be a mapping of Unicode ordinals to
    Unicode ordinals, strings, or None.

The table must implement lookup/indexing via __getitem__, for instance a
dictionary or list.  If this operation raises LookupError, the character is
left untouched.  Characters mapped to None are deleted.
Type:      method_descriptor